  <div class="sign-in-container">
      <div class="sign-in-box">
        <h2>Sign In</h2>
        
        <div class="social-links">
          <a href="https://facebook.com" target="_blank" class="social-btn facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://google.com" target="_blank" class="social-btn google">
            <i class="fa fa-google"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="social-btn twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
  
        <div class="divider">
          <span>or</span>
        </div>
  
        <form  #signInForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)] = "username" required placeholder="Enter your username"/>
          </div>
          
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)] = "password" required placeholder="Enter your password"/>
          </div>
          
          <button type="button" (click)="onButtonClick()">Sign In</button>
        </form>
        <div class="signup-link">
          Don't have an account? <a routerLink="/SignUp">Sign Up</a>
        </div>
      </div>
    </div>
